
html, body, #map { height: 700px; }
body { 
    display: grid; 
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}

#menu {
    margin: 0; padding: 5px;
    padding-bottom: 5px;
    grid-column: 1;
    grid-row: 1;
    border: 1px solid black;
}

#zoom {
    margin: 0; padding: 5px;
    border: 1px solid black;
    display: flex;        /* 1 */
    flex-direction: row;  /* 2 */
    justify-content: start;
}

#infos {
  margin-left: 20px;
}

#map {
    grid-column: 2;
    grid-row: 1;
    border: 1px solid black;
}

