<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.css' />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/visu.css') }}">

    <title>Libre map</title>
</head>


<body>

    <div id="app">

        <div v-if="!IsStart">
            <h2><span class="badge text-bg-success m-3">Quizz des polluants</span></h2>
            <h4 class="m-4">Voici le quizz des polluants !</h4>
            <button type="button" class="btn btn-primary m-3" @click="start">Start quizz</button>
            <button type="button" class="btn btn-warning btn-sm  m-2"  @click="download" v-if="Object.keys(this.dicoAnswers).length>0
">Download answers</button>
        </div>

        <div v-else>
            <h2 class="m-2"><span class="badge text-bg-success" v-text="txt" >{{txt}}</span></h2>

            <div v-text="question" class="m-2"></div>
            <div v-text="time" class="m-2"></div>
    
            <div v-if="this.data !== null">
                <input v-if="isInputOption" class="form-control w-75 m-2" type="text" v-model="answer"/>
                <div v-else>
                    <div v-for="(option, index) in this.tab.split(', ')" :key="index">
                        <input type="checkbox" class="form-check-input m-2" :id="'checkbox-' + index"  :value="option" v-model="selectedOptions">
                        <label class="form-check-label" :for="'checkbox-' + index" v-text="option">{{option}}</label>
                    </div>
                </div>
    
                <div class="d-grid gap-2 d-md-block m-2"> 
                    <button class="btn btn-success btn-sm" @click="suiv">Next</button> 
                </div>
        </div>

        </div>




    </div>

    <div id="map"></div>
    <script src='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.js'></script>

    <script src="{{ url_for('static', filename='./js/quizz.js') }}"></script>
</body>
</html>