<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.css' />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/visu.css') }}">

    <title>Libre map</title>
</head>


<body>

    <div id="app">

        <h1 v-text="count" class="m-2">{{count}}</h1>

        <div v-text="question" class="m-2"></div>

        <div v-if="this.data !== null">
            <input v-if="isInputOption" class="form-control w-75 m-2" type="text" v-model="inputValue"/>
            <div v-else>
                <div v-for="(option, index) in this.tab.split(', ')" :key="index">
                    <input type="checkbox" class="form-check-input m-2" :id="'checkbox-' + index"  :value="option" v-model="selectedOptions">
                    <label class="form-check-label" :for="'checkbox-' + index" v-text="option">{{option}}</label>
                
                </div>
            </div>
        </div>

        <div v-else>Rien</div>



        <div class="d-grid gap-2 d-md-block m-2">
            <button class="btn btn-secondary btn-sm m-2" @click="prev">Prev</button>   
            <button class="btn btn-success btn-sm" @click="suiv">Next</button>  
        </div>


    </div>

    <div id="map"></div>
    <script src='https://unpkg.com/maplibre-gl@4.5.0/dist/maplibre-gl.js'></script>

    <script src="{{ url_for('static', filename='./js/quizz.js') }}"></script>
</body>
</html>